<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  {% block title %}<title>Shopify</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body>
{% block sidebar %}
 <nav class="navbar-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="{% url 'index' %}">Nearby Shops</a></li>
        <li class="active"><a href="{% url 'preferred_shop' %}">Preferred Shops</a></li>
      <li><a href="{% url 'cas_ng_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
<div class="row" style="margin-right: 60px;margin-left: 106px;padding-top: 31px;">{% block content %}{% endblock %}</div>
<script src="{% static 'js/shops.js' %}"></script>
{% block extra_scripts%}
{% endblock %}
</body>
</html>