{% extends "base.html" %}
{% block content %}
    {% for shop in shops%}
        <div class="col-sm-5" style="padding-bottom: 20px;width:30%">
            <ul class="well">
                <div style="padding-left:30%;">{{shop.name}}</div>
                <div style="padding-left:30%;"><img src="{{shop.icon}}"></div>
                <div style="padding-left:25%;padding-top: 6%;">
                    <button onclick="remove_f(this.id)" url="{% url 'like_shop' %}"
                            class="dislike btn btn-danger" type="button" id="{{shop.google_id}}">
                        Remove
                    </button>
                </div>

            </ul>
        </div>
    {% endfor %}
{% endblock %}